<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PictureName</key>
		<string>Picture Name 1</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question 1</key>
		<array>
			<string>Q1 Answer 1</string>
			<string>Q1 Answer 2</string>
			<string>Q1 Answer 3</string>
			<string>Q1 Answer 4</string>
			<string>Q1 Answer 5</string>
			<string>Q1 Answer 6</string>
		</array>
		<key>Question 2</key>
		<array>
			<string>Q2 Answer 1</string>
			<string>Q2 Answer 2</string>
			<string>Q2 Answer 3</string>
			<string>Q2 Answer 4</string>
			<string>Q2 Answer 5</string>
			<string>Q2 Answer 6</string>
		</array>
		<key>Question 3</key>
		<array>
			<string>Q3 Answer 1</string>
			<string>Q3 Answer 2</string>
			<string>Q3 Answer 3</string>
			<string>Q3 Answer 4</string>
			<string>Q3 Answer 5</string>
			<string>Q3 Answer 6</string>
		</array>
		<key>Question 4</key>
		<array>
			<string>Q4 Answer 1</string>
			<string>Q4 Answer 2</string>
			<string>Q4 Answer 3</string>
			<string>Q4 Answer 4</string>
			<string>Q4 Answer 5</string>
			<string>Q4 Answer 6</string>
		</array>
		<key>Question 5</key>
		<array>
			<string>Q5 Answer 1</string>
			<string>Q5 Answer 2</string>
			<string>Q5 Answer 3</string>
			<string>Q5 Answer 4</string>
			<string>Q5 Answer 5</string>
			<string>Q5 Answer 6</string>
		</array>
		<key>Question 6</key>
		<array>
			<string>Q6 Answer 1</string>
			<string>Q6 Answer 2</string>
			<string>Q6 Answer 3</string>
			<string>Q6 Answer 4</string>
			<string>Q6 Answer 5</string>
			<string>Q6 Answer 6</string>
		</array>
	</dict>
	<dict>
		<key>Title 0</key>
		<string>Picture Name 2</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question 1</key>
		<array>
			<string>Q1 Answer 1</string>
			<string>Q1 Answer 2</string>
			<string>Q1 Answer 3</string>
			<string>Q1 Answer 4</string>
			<string>Q1 Answer 5</string>
			<string>Q1 Answer 6</string>
		</array>
		<key>Question 2</key>
		<array>
			<string>Q2 Answer 1</string>
			<string>Q2 Answer 2</string>
			<string>Q2 Answer 3</string>
			<string>Q2 Answer 4</string>
			<string>Q2 Answer 5</string>
			<string>Q2 Answer 6</string>
		</array>
		<key>Question 3</key>
		<array>
			<string>Q3 Answer 1</string>
			<string>Q3 Answer 2</string>
			<string>Q3 Answer 3</string>
			<string>Q3 Answer 4</string>
			<string>Q3 Answer 5</string>
			<string>Q3 Answer 6</string>
		</array>
		<key>Question 4</key>
		<array>
			<string>Q4 Answer 1</string>
			<string>Q4 Answer 2</string>
			<string>Q4 Answer 3</string>
			<string>Q4 Answer 4</string>
			<string>Q4 Answer 5</string>
			<string>Q4 Answer 6</string>
		</array>
		<key>Question 5</key>
		<array>
			<string>Q5 Answer 1</string>
			<string>Q5 Answer 2</string>
			<string>Q5 Answer 3</string>
			<string>Q5 Answer 4</string>
			<string>Q5 Answer 5</string>
			<string>Q5 Answer 6</string>
		</array>
		<key>Question 6</key>
		<array>
			<string>Q6 Answer 1</string>
			<string>Q6 Answer 2</string>
			<string>Q6 Answer 3</string>
			<string>Q6 Answer 4</string>
			<string>Q6 Answer 5</string>
			<string>Q6 Answer 6</string>
		</array>
	</dict>
	<dict>
		<key>Title 0</key>
		<string>Picture Name 3</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question 1</key>
		<array>
			<string>Q1 Answer 1</string>
			<string>Q1 Answer 2</string>
			<string>Q1 Answer 3</string>
			<string>Q1 Answer 4</string>
			<string>Q1 Answer 5</string>
			<string>Q1 Answer 6</string>
		</array>
		<key>Question 2</key>
		<array>
			<string>Q2 Answer 1</string>
			<string>Q2 Answer 2</string>
			<string>Q2 Answer 3</string>
			<string>Q2 Answer 4</string>
			<string>Q2 Answer 5</string>
			<string>Q2 Answer 6</string>
		</array>
		<key>Question 3</key>
		<array>
			<string>Q3 Answer 1</string>
			<string>Q3 Answer 2</string>
			<string>Q3 Answer 3</string>
			<string>Q3 Answer 4</string>
			<string>Q3 Answer 5</string>
			<string>Q3 Answer 6</string>
		</array>
		<key>Question 4</key>
		<array>
			<string>Q4 Answer 1</string>
			<string>Q4 Answer 2</string>
			<string>Q4 Answer 3</string>
			<string>Q4 Answer 4</string>
			<string>Q4 Answer 5</string>
			<string>Q4 Answer 6</string>
		</array>
		<key>Question 5</key>
		<array>
			<string>Q5 Answer 1</string>
			<string>Q5 Answer 2</string>
			<string>Q5 Answer 3</string>
			<string>Q5 Answer 4</string>
			<string>Q5 Answer 5</string>
			<string>Q5 Answer 6</string>
		</array>
		<key>Question 6</key>
		<array>
			<string>Q6 Answer 1</string>
			<string>Q6 Answer 2</string>
			<string>Q6 Answer 3</string>
			<string>Q6 Answer 4</string>
			<string>Q6 Answer 5</string>
			<string>Q6 Answer 6</string>
		</array>
	</dict>
	<dict>
		<key>Title 0</key>
		<string>Picture Name 4</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question 1</key>
		<array>
			<string>Q1 Answer 1</string>
			<string>Q1 Answer 2</string>
			<string>Q1 Answer 3</string>
			<string>Q1 Answer 4</string>
			<string>Q1 Answer 5</string>
			<string>Q1 Answer 6</string>
		</array>
		<key>Question 2</key>
		<array>
			<string>Q2 Answer 1</string>
			<string>Q2 Answer 2</string>
			<string>Q2 Answer 3</string>
			<string>Q2 Answer 4</string>
			<string>Q2 Answer 5</string>
			<string>Q2 Answer 6</string>
		</array>
		<key>Question 3</key>
		<array>
			<string>Q3 Answer 1</string>
			<string>Q3 Answer 2</string>
			<string>Q3 Answer 3</string>
			<string>Q3 Answer 4</string>
			<string>Q3 Answer 5</string>
			<string>Q3 Answer 6</string>
		</array>
		<key>Question 4</key>
		<array>
			<string>Q4 Answer 1</string>
			<string>Q4 Answer 2</string>
			<string>Q4 Answer 3</string>
			<string>Q4 Answer 4</string>
			<string>Q4 Answer 5</string>
			<string>Q4 Answer 6</string>
		</array>
		<key>Question 5</key>
		<array>
			<string>Q5 Answer 1</string>
			<string>Q5 Answer 2</string>
			<string>Q5 Answer 3</string>
			<string>Q5 Answer 4</string>
			<string>Q5 Answer 5</string>
			<string>Q5 Answer 6</string>
		</array>
		<key>Question 6</key>
		<array>
			<string>Q6 Answer 1</string>
			<string>Q6 Answer 2</string>
			<string>Q6 Answer 3</string>
			<string>Q6 Answer 4</string>
			<string>Q6 Answer 5</string>
			<string>Q6 Answer 6</string>
		</array>
	</dict>
	<dict>
		<key>Title 0</key>
		<string>Picture Name 5</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question 1</key>
		<array>
			<string>Q1 Answer 1</string>
			<string>Q1 Answer 2</string>
			<string>Q1 Answer 3</string>
			<string>Q1 Answer 4</string>
			<string>Q1 Answer 5</string>
			<string>Q1 Answer 6</string>
		</array>
		<key>Question 2</key>
		<array>
			<string>Q2 Answer 1</string>
			<string>Q2 Answer 2</string>
			<string>Q2 Answer 3</string>
			<string>Q2 Answer 4</string>
			<string>Q2 Answer 5</string>
			<string>Q2 Answer 6</string>
		</array>
		<key>Question 3</key>
		<array>
			<string>Q3 Answer 1</string>
			<string>Q3 Answer 2</string>
			<string>Q3 Answer 3</string>
			<string>Q3 Answer 4</string>
			<string>Q3 Answer 5</string>
			<string>Q3 Answer 6</string>
		</array>
		<key>Question 4</key>
		<array>
			<string>Q4 Answer 1</string>
			<string>Q4 Answer 2</string>
			<string>Q4 Answer 3</string>
			<string>Q4 Answer 4</string>
			<string>Q4 Answer 5</string>
			<string>Q4 Answer 6</string>
		</array>
		<key>Question 5</key>
		<array>
			<string>Q5 Answer 1</string>
			<string>Q5 Answer 2</string>
			<string>Q5 Answer 3</string>
			<string>Q5 Answer 4</string>
			<string>Q5 Answer 5</string>
			<string>Q5 Answer 6</string>
		</array>
		<key>Question 6</key>
		<array>
			<string>Q6 Answer 1</string>
			<string>Q6 Answer 2</string>
			<string>Q6 Answer 3</string>
			<string>Q6 Answer 4</string>
			<string>Q6 Answer 5</string>
			<string>Q6 Answer 6</string>
		</array>
	</dict>
	<dict>
		<key>Title 0</key>
		<string>Picture Name 6</string>
		<key>Picture URL</key>
		<string>http://nlcenters.org/wp-content/uploads/2014/07/Superman1.jpg</string>
		<key>Question 1</key>
		<array>
			<string>Q1 Answer 1</string>
			<string>Q1 Answer 2</string>
			<string>Q1 Answer 3</string>
			<string>Q1 Answer 4</string>
			<string>Q1 Answer 5</string>
			<string>Q1 Answer 6</string>
		</array>
		<key>Question 2</key>
		<array>
			<string>Q2 Answer 1</string>
			<string>Q2 Answer 2</string>
			<string>Q2 Answer 3</string>
			<string>Q2 Answer 4</string>
			<string>Q2 Answer 5</string>
			<string>Q2 Answer 6</string>
		</array>
		<key>Question 3</key>
		<array>
			<string>Q3 Answer 1</string>
			<string>Q3 Answer 2</string>
			<string>Q3 Answer 3</string>
			<string>Q3 Answer 4</string>
			<string>Q3 Answer 5</string>
			<string>Q3 Answer 6</string>
		</array>
		<key>Question 4</key>
		<array>
			<string>Q4 Answer 1</string>
			<string>Q4 Answer 2</string>
			<string>Q4 Answer 3</string>
			<string>Q4 Answer 4</string>
			<string>Q4 Answer 5</string>
			<string>Q4 Answer 6</string>
		</array>
		<key>Question 5</key>
		<array>
			<string>Q5 Answer 1</string>
			<string>Q5 Answer 2</string>
			<string>Q5 Answer 3</string>
			<string>Q5 Answer 4</string>
			<string>Q5 Answer 5</string>
			<string>Q5 Answer 6</string>
		</array>
		<key>Question 6</key>
		<array>
			<string>Q6 Answer 1</string>
			<string>Q6 Answer 2</string>
			<string>Q6 Answer 3</string>
			<string>Q6 Answer 4</string>
			<string>Q6 Answer 5</string>
			<string>Q6 Answer 6</string>
		</array>
	</dict>
</array>
</plist>
